/* Progress bar Skills*/
@-webkit-keyframes w-95 {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@keyframes w-95 {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@-webkit-keyframes w-90 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes w-90 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes w-80 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes w-80 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes w-75 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes w-75 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@-webkit-keyframes w-70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes w-70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
