@use "../abstract/" as a;

.buttons {
  margin-top: 2rem;
}
.btn {
  display: inline-block;
  padding: 1rem 3.7rem;
  line-height: 1.2;
  border: 0;
  outline: 0;
  border: 2px solid a.$primary-color;
  color: #222;
  text-shadow: none;
  border-radius: 30px;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &--download {
    background-color: #fff;
    margin-right: 1rem;

    &:hover,
    &:focus {
      background-color: a.$primary-color;
    }
  }

  &--hire {
    color: #333;
    border-color: #d5d5d5;
    background-color: #d5d5d5;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #545b62;
      border-color: #4e555b;
    }
  }
}
